## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Filotion,GR,37.0500,25.5000,51.80,82,80,23.02,broken clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,50.00,71,0,6.91,clear sky
2,2,Vaini,TO,-21.2000,-175.2000,77.00,94,75,5.75,light rain
3,3,Coolum Beach,AU,-26.5333,153.1000,62.01,96,68,1.01,broken clouds
4,4,Hay River,CA,60.8156,-115.7999,32.00,64,100,5.75,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Vaini,TO,-21.2000,-175.2000,77.00,94,75,5.75,light rain
10,10,Nizwa,OM,22.9333,57.5333,82.58,21,1,12.97,clear sky
11,11,Manokwari,ID,-0.8667,134.0833,78.42,79,83,2.46,broken clouds
14,14,Kavieng,PG,-2.5744,150.7967,80.64,78,92,4.47,overcast clouds
16,16,San Patricio,US,28.0170,-97.5169,82.99,74,75,6.91,broken clouds
...,...,...,...,...,...,...,...,...,...,...
653,653,Pitiquito,MX,30.7000,-112.0833,81.00,17,1,1.99,clear sky
664,664,Butia,BR,-30.1197,-51.9622,73.44,57,69,5.37,broken clouds
665,665,Rio Grande,BR,-32.0350,-52.0986,75.20,46,40,6.91,scattered clouds
667,667,Obo,CF,5.3998,26.4869,81.03,45,81,4.14,broken clouds
674,674,Navirai,BR,-23.0650,-54.1906,79.47,41,61,7.40,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                267
City                   267
Country                267
Lat                    267
Lng                    267
Max Temp               267
Humidity               267
Cloudiness             267
Wind Speed             267
Current Description    267
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Vaini,TO,-21.2000,-175.2000,77.00,94,75,5.75,light rain
10,10,Nizwa,OM,22.9333,57.5333,82.58,21,1,12.97,clear sky
11,11,Manokwari,ID,-0.8667,134.0833,78.42,79,83,2.46,broken clouds
14,14,Kavieng,PG,-2.5744,150.7967,80.64,78,92,4.47,overcast clouds
16,16,San Patricio,US,28.0170,-97.5169,82.99,74,75,6.91,broken clouds
...,...,...,...,...,...,...,...,...,...,...
653,653,Pitiquito,MX,30.7000,-112.0833,81.00,17,1,1.99,clear sky
664,664,Butia,BR,-30.1197,-51.9622,73.44,57,69,5.37,broken clouds
665,665,Rio Grande,BR,-32.0350,-52.0986,75.20,46,40,6.91,scattered clouds
667,667,Obo,CF,5.3998,26.4869,81.03,45,81,4.14,broken clouds
674,674,Navirai,BR,-23.0650,-54.1906,79.47,41,61,7.40,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Vaini,TO,77.00,light rain,-21.2000,-175.2000,
10,Nizwa,OM,82.58,clear sky,22.9333,57.5333,
11,Manokwari,ID,78.42,broken clouds,-0.8667,134.0833,
14,Kavieng,PG,80.64,overcast clouds,-2.5744,150.7967,
16,San Patricio,US,82.99,broken clouds,28.0170,-97.5169,
17,Hilo,US,73.00,overcast clouds,19.7297,-155.0900,
18,Ixtapa,MX,77.00,broken clouds,20.7000,-105.2000,
19,Souillac,MU,78.80,scattered clouds,-20.5167,57.5167,
20,Avarua,CK,80.60,broken clouds,-21.2078,-159.7750,
28,Mahebourg,MU,78.80,scattered clouds,-20.4081,57.7000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params= params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")
        pass
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Vaini,TO,77.00,light rain,-21.2000,-175.2000,Keleti Beach Resort
10,Nizwa,OM,82.58,clear sky,22.9333,57.5333,Orient Apartments
11,Manokwari,ID,78.42,broken clouds,-0.8667,134.0833,Swiss Belhotel Manokwari
14,Kavieng,PG,80.64,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
16,San Patricio,US,82.99,broken clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
17,Hilo,US,73.00,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Ixtapa,MX,77.00,broken clouds,20.7000,-105.2000,Hotel Plaza Providencia
19,Souillac,MU,78.80,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
20,Avarua,CK,80.60,broken clouds,-21.2078,-159.7750,Paradise Inn
28,Mahebourg,MU,78.80,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Vaini,TO,77.00,light rain,-21.2000,-175.2000,Keleti Beach Resort
10,Nizwa,OM,82.58,clear sky,22.9333,57.5333,Orient Apartments
11,Manokwari,ID,78.42,broken clouds,-0.8667,134.0833,Swiss Belhotel Manokwari
14,Kavieng,PG,80.64,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
16,San Patricio,US,82.99,broken clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
17,Hilo,US,73.00,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Ixtapa,MX,77.00,broken clouds,20.7000,-105.2000,Hotel Plaza Providencia
19,Souillac,MU,78.80,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
20,Avarua,CK,80.60,broken clouds,-21.2078,-159.7750,Paradise Inn
28,Mahebourg,MU,78.80,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))